<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Frontend</title>
</head>
<body>
	<h1> Frontend </h1>
	
	<ul>
	<li>
	<a href = "/customer-product-directly" > Simple: Call directly the Backend Services to get Customers and Products</a>
	</li>
	<li>
	<a href = "/customer-product-via-eureka" > Eureka: Call the Backend Services via Eureka Service Discovery to get Customers and Products</a>
	</li>
	<li>
	<a href = "/customer-product-via-eureka-ribbon" > Eureka+Ribbon : Call the Backend Services via Eureka Service Discovery and Ribbon Load Balancing to get Customers and Products</a>
	</li>
	<li>
	<a href = "/customer-product-hystrix" > Hystrix: Call the Backend Services with Hystrix Support to get Customers and Products</a>
	</li>
	<li>
	<a href = "/posts-feign" > Feign: Call jsonplaceholder.typicode.com with Feign to get Posts</a>
	</li>
	<li>
	<a href = "/posts-feign-hystrix" > Feign-Hystrix: Call jsonplaceholder.typicode.com with Feign and Hystrix to get Posts</a>
	</li>
	<li>
	<a href = "/zuul-angular" > Zuul: Route to jsonplaceholder.typicode.com using Zuul to get Posts</a>
	</li>
	</ul>
	
</body>
</html>